<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>Sarpurinn</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>http://smooth.ruv.cache.is/.+</string>
		<string>http://(.+)?level3.net/.+</string>
		<string>http://ruvruv2-live.hls.adaptive.level3.net/ruv/ruv2/index/stream5.m3u8</string>
		<string>http://ruvruv-live.hls.adaptive.level3.net/ruv/ruv/index/stream4.m3u8</string>
      </array>
      <key>TestURLs</key>
      <array>
        <string>http://ruv.is/</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>